/* ========================================= 
                DEFAULT VALUES:
                Font Family                     : Sansation, Sansation Bold, Sansation Light, Sansation Black
                Primary Color                   : #FFF3CC       (Buttons)
                Primary Text Color              : #4a4a4a       (Text Color)
============================================*/
/* ==========================================
                    VARIABLE
============================================= */
:root {
  --white-color: #fff;
  --primary-color: #fff3cc;
  --primary-text-color: #4a4a4a;
}
/* ==========================================
                    FONTS
============================================= */
@font-face {
  font-family: "Aquatico";
  src: url(../../vendors/fonts/Aquatico-Regular.otf);
}
@font-face {
  font-family: "perfograma";
  src: url(../../vendors/fonts/perfograma/Perfograma-Regular.ttf);
}
@font-face {
  font-family: "Sansation";
  src: url(../../vendors/fonts/sansation/Sansation_Regular.ttf);
}
@font-face {
  font-family: "Sansation Bold";
  src: url(../../vendors/fonts/sansation/Sansation_Bold.ttf);
}
@font-face {
  font-family: "Sansation Light";
  src: url(../../vendors/fonts/sansation/Sansation_Light.ttf);
}
@font-face {
  font-family: "Sansation Light";
  src: url(../../vendors/fonts/sansation/Sansation_Italic.ttf);
}
/* ==========================================
                GENERAL CSS 
============================================= */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  /*  rem root default font size is: 16px
        we can use: 10px becasue it's easy to convert px to rem 
        perfect use is percentage value
        so we use: (10/16)*100 = 62.5%
    */
  font-size: 62.5%;
  scroll-behavior: smooth;

  background: url(/resources/img/image/sp.jpg) no-repeat center center fixed; 
  /* background: url(/resources/img/image/code4.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); */
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "sansation", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--primary-text-color);

}

body:before{
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("/resources/img/image/bg_img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  transform: scale(1.1);
}


::-moz-selection {
  background: var(--primary-color);
  color: var(--primary-text-color);
}
::selection {
  background: var(--primary-color);
  color: var(--primary-text-color);
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
.btn:focus, .btn:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  border: 1px solid #979797;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="text"]:focus {
  color: var(--primary-text-color);
  font-family: "sansation";
}
/* ==========================================
                REUSABLE CLASS
============================================= */
.text_center{
  text-align: center;
  left: 0;
  line-height: 100px;
}
.center_box{
  text-align: center;
  left: 0;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 35%;
  width: 100%;
}
/* ==========================================
                TIMER CLASS
============================================= */
#timer{
  font-family: "perfograma";
  text-align: center;
  font-size: 60px;
  color: var(--white-color);
  margin-bottom: 15rem;
  margin-bottom: 8rem;
}

.social{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}


/* ==========================================
                IMAGE CLASS
============================================= */
.welcome{
  font-size: 10rem;
  font-family: "Aquatico";
  color: var(--white-color);
}
.wc_text{
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-family: "Aquatico";
  color: var(--white-color);
}


/* ==========================================
                SOCIAL MEDIA CLASS
============================================= */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    /* background-color: #322f30; */
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    /* background-color: #322f30; */
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-instagram {
    padding:10px 14px;
    /* background-color: #322f30; */
}
.fa-instagram:hover {
    background-color: #eb8231;
}
.fa-dribbble {
    padding:10px 14px;
    /* background-color: #322f30; */
}
.fa-dribbble:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    /* background-color: #322f30; */
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-behance {
    padding:10px 9px;
    /* background-color: #322f30; */
}
.fa-behance:hover {
    background-color: #00aced;
}